/* Universal Styles */

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: black;
    text-align: center;
    background-color: #9d5ea7;
}

a {
    color: #643390;
}

/* Header */

header {
    /* border: 3px solid black; */
    background-color: #d5f3fd;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1;
    display: grid;
    grid-template-areas: "logo nav";
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.left-side-header {
    display: grid;
    grid-template-areas: "logo whitespace";
    grid-template-columns: 1fr 3fr;
}

header img {
    /* border: 1px solid #4a266a; */
    height: 150px;
    grid-area: logo;
}

nav {
    /* border: 1px solid black; */
    height: 100%;
    grid-area: nav;
    display: grid;
    grid-template-areas: "about products team";
    grid-template-columns: 1fr 1fr 1fr;
    vertical-align: middle;
    top: 3rem;
    position: relative;
    font-size: 2em;
}

nav span {
    /* border: 1px solid black; */
    height: 100%;
}
nav span a {
    /* border: 1px solid black; */
    text-decoration: none;
}

#about {
    grid-area: about;
}

#portfolio {
    grid-area: products;
}

#team {
    grid-area: team;
}

nav span {
    /* border: 1px solid black; */
}

/* About Section */

.flex-container {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.text-container {
    margin: 80px auto;
    width: 50%;
}

.about {
    padding-top: 150px;
    height: 600px;
    background-image: url('images/pexels-simon-berger-1323550.jpg');
    background-position: center;
    background-size: cover;
}

/* Portfolio Section & Team Section */

.grid-container {
    display: grid;
    min-height: auto;
    margin: auto;
    grid-template-areas: "one two three";
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
}

.items {
    margin: 10px 2%;
    padding: 20px;
    /* border: 1px solid #d5f3fd; */
}

.item img {
    max-width: 100%;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: one;
}

.five {
    grid-area: two;
}

.six {
    grid-area: three;
}

@media (max-width: 650px) {
    
    .grid-container {
        display: block;
    }
}